@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  background: #fff;
  color: #333; }

.log_container {
  width: 50%;
  margin: 0 auto; }

.text-center {
  text-align: center; }
