@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  background: #fff;
  color: #333; }

.log_container {
  width: 50%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.btn-gradient {
  -webkit-background: linear-gradient(to right, #e96443, #904e95);
  -moz-background: linear-gradient(to right, #e96443, #904e95);
  -ms-background: linear-gradient(to right, #e96443, #904e95);
  -o-background: linear-gradient(to right, #e96443, #904e95);
  background: linear-gradient(to right, #e96443, #904e95);
  color: #fff;
  border-radius: 30px; }
  .btn-gradient:hover, .btn-gradient:focus {
    color: #fff; }
